body {
  background-color: #ffffff;
  color: #575757;
}

.text-primary,
.btn-outline-primary {
  color: rgb(67 128 111) !important;
}

.btn.active {
  background-color: rgb(67 128 111);
  border-color: rgb(67 128 111);
  color: #fff !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

#pageHead {
  background: linear-gradient(
      90deg,
      rgba(176, 224, 146, 0.5),
      rgba(131, 201, 187, 0.5)
    ),
    url("../img/page-head-bg.jpeg") no-repeat center top;
  background-size: cover;
}

#logoTop {
  margin-top: -12rem;
}

#logoTop figure {
  width: 320px;
  height: 320px;
  overflow: hidden;
}

#viewHolder {
  min-height: 35rem;
}

#viewHolder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
