<!-- wp:template-part {"slug":"header"} /-->
<main class="wp-block-group mt-5">
  <div class="container">
    <div id="aboutUs">
      <h2 class="text-center">
        ABOUT US<br /><span class="fs-4">SAMOTEL TOURS</span>
      </h2>
      <p class="text-center mb-5">
        Samotel Tours and Travels was founded by Chef Samson Clement "Okongo".
        We offer tour guide services for Safaris, cultural tours, hiking, and
        fishing. Find us so that we can take you through beautiful sceneries in
        South Sudan and the Larger East Africa (Kenya, Uganda, Tanzania and
        Congo)
      </p>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="feature">
            <div class="text-center">
              <i class="fa fa-camera fs-1 fa-fw text-primary"></i>
              <h3 class="feature-title text-primary">Photography</h3>
            </div>
            <p class="px-lg-1 text-justify fs-15">
              Photo travel is based on Cultural diversity, our heritage, the big
              five in our wildlife, Bird viewing, naming, and definition of
              characteristics. Gorilla trackings and other apes' families.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature">
            <div class="text-center">
              <i class="fa fa-person-hiking fs-1 fa-fw text-primary"></i>
              <h3 class="feature-title text-primary">Hiking</h3>
            </div>
            <p class="px-lg-1 text-justify fs-15">
              Hiking and trekking on Mt Kinyeti, Imatong, Buyaa/Larim hills, Mt
              Kilimanjaro - Tanzania and The Seven Hills of Kampala City.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature">
            <div class="text-center">
              <i class="fa fa-caravan fs-1 fa-fw text-primary"></i>
              <h3 class="feature-title text-primary">Tours</h3>
            </div>
            <p class="px-lg-1 text-justify fs-15">
              Cultural tours and safaris - Boma, Badinglo, Nimule National
              Parks, Masai mara national Park, The Serengeti, and Queen
              Elizabeth National Park - Uganda.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature">
            <div class="text-center">
              <i class="fa fa-vest fs-1 fa-fw text-primary"></i>
              <h3 class="feature-title text-primary">Fishing</h3>
            </div>
            <p class="px-lg-1 text-justify fs-15">
              Fishing at Sudd swamp, along the White Nile and Blue Nile, Jinja
              the Nile source in Uganda.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 py-5" id="album">
    <div class="container">
      <h2 class="text-center">
        ALBUM<br />
        <span class="fs-4">PHOTOS FROM PREVIOUS TOURS</span>
      </h2>
      <div class="text-center">
        <div class="py-3">
          <ul id="filterList" class="list-inline">
            <li class="list-inline-item">
              <span id="filterLabel">Filter Photos:</span>
            </li>
            <li class="list-inline-item">
              <button
                class="btn btn-outline-primary rounded-1 active"
                data-filter="*"
              >
                SHOW ALL
              </button>
            </li>
            <li class="list-inline-item">
              <button
                class="btn btn-outline-primary rounded-1"
                data-filter="camping"
              >
                CAMPING
              </button>
            </li>
            <li class="list-inline-item">
              <button
                class="btn btn-outline-primary rounded-1"
                data-filter="fishing"
              >
                FISHING
              </button>
            </li>
            <li class="list-inline-item">
              <button
                class="btn btn-outline-primary rounded-1"
                data-filter="game"
              >
                GAME
              </button>
            </li>
            <li class="list-inline-item">
              <button
                class="btn btn-outline-primary rounded-1"
                data-filter="meals"
              >
                MEALS
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div id="viewHolder">
        <div id="photoView" class="row"></div>
      </div>
      <!-- .filterable-items -->
    </div>
    <!-- .container -->
  </div>
  <div class="bg-light mt-5 pt-5" id="contactUs">
    <div class="container">
      <h2 class="text-center">
        CONTACT US<br />
        <span class="fs-4">FEEL FREE TO REACH OUT</span>
      </h2>
      <div class="pt-4 pb-5">
        <div class="contact-detail">
          <h3 class="fs-6">Samotel Tour and Travels Africa</h3>
          <ul class="list-unstyled">
            <li class="my-3">
              <span
                class="border border-3 border-primary rounded-circle p-1 me-2"
                ><i class="fa fa-map-marker-alt fa-fw text-primary"></i
              ></span>
              Juba, South Sudan
            </li>
            <li class="my-3">
              <span
                class="border border-3 border-primary rounded-circle p-1 me-2"
                ><i class="fab fa-whatsapp fa-fw text-primary"></i
              ></span>
              +211 926 098 450
            </li>
            <li class="my-3">
              <span
                class="border border-3 border-primary rounded-circle p-1 me-2"
                ><i class="fa fa-envelope fa-fw text-primary"></i
              ></span>
              info@samoteltours.org
            </li>
            <li class="my-3 lh-lg">
              <span
                class="border border-3 border-primary rounded-circle p-1 me-2"
                ><i class="fa fa-phone fa-fw text-primary"></i
              ></span>
              <span class="text-nowrap">+256 785 951 822</span> /
              <span class="text-nowrap">+49 176 63789143</span> /
              <span class="text-nowrap">+27 73 220 7600</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
</main>
<!-- wp:template-part {"slug":"footer", "className":"mt-0"} /-->
